{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item" style="margin-bottom: 3em">
    <h3>{{ title }} </h3>
    
        {% if post.link %}<a href="/files/{{ post.link }}" rel="permalink">[PDF]</a>{% endif %}
        {% if post.poster-link %}<a href="/files/{{ post.poster-link }}" rel="permalink">[Poster]</a>{% endif %}
        <p class="archive__item-excerpt" style="margin-top:-.9em">  {{post.authors | markdownify}} </p>
        <p class="archive__item-excerpt" style="margin-top:-.9em"> {{ post.citation | markdownify }}</p>
        <p class="archive__item-excerpt" style="margin-top:-.9em"> {{ post.excerpt | markdownify }}</p>
        <p class="archive__item-excerpt" style="margin-top:-.9em"> {{ post.special | markdownify }}</p>
        <p class="archive__item-excerpt" style="margin-top:-.75em"> </p>
</div>